<!DOCTYPE html>
<html xmlns:th="http://wwwthymeleaf.org">
<!--/* headの引き継ぎ部分 */-->
<head
	th:replace="layout/baseLayout :: base-head('マイページ', ~{::link}, ~{::script})">
</head>
<!--/* headの引き継ぎ部分 ここまで */-->


<body>
	<!--/* navbar引き継ぎ部分 */-->
	<div th:replace="layout/baseLayout :: navbar"></div>
	<!--/* navbar引き継ぎ部分 ここまで */-->

	<!--/* sidebar引き継ぎ部分 */-->
	<div th:replace="layout/myPageLayout :: sidebar"></div>
	<!--/* sidebar引き継ぎ部分 ここまで */-->

	<div class="container">
		<div class="heading-icon mx-sm-4">
			<h5>
				<img class="mb-2" th:src="@{/image/genjiko_icon/s_10_01.png}">
				プロフィール
			</h5>
		</div>
		<div class="profile user">
			<div>
				<div class="row">
					<div class="col-sm-3 col-md-12 col-lg-3 profile-img">
						<div class="d-flex align-items-center pt-1">
							<th:block th:switch="${user.userDetail.imgPath}">
								<img th:case="null" th:src="@{/image/noimg.png}"
									class="profile icon">
								<img th:case="''" th:src="@{/image/noimg.png}"
									class="profile icon">
								<img th:case="*"
									th:src="@{/image/upload/{imgPath}(imgPath=${user.userDetail.imgPath})}"
									class="profile icon">
							</th:block>
						</div>
					</div>
					<div
						class="col-sm-9 col-md-12 col-lg-9 d-flex flex-column justify-content-center">
						<div class="my-lg-1">
							<th:block th:text="'@'+${user.username}"
								style="padding-top: 2em;" />
						</div>
						<div class="my-1">
							<span class="user-display-name"> <th:block
									th:switch="${user.userDetail.userDisplayName}">
									<th:block th:case="null" th:text="'　'" />
									<th:block th:case="''" th:text="'　'" />
									<th:block th:case="*"
										th:text="${user.userDetail.userDisplayName}" />
								</th:block>
							</span>
						</div>
						<div class="my-lg-1">
							<th:block th:switch="${user.userDetail.userShortDescription}">
								<th:block th:case="null" th:text="'　'" />
								<th:block th:case="''" th:text="'　'" />
								<th:block th:case="*"
									th:text="${user.userDetail.userShortDescription}" />
							</th:block>
						</div>
						<div class="my-1">
							<a th:href="@{/user/mypage/follow}"
								th:text="${#arrays.length(following)}+'フォロー中'" class="mr-2"></a>
							<a th:href="@{/user/mypage/follower}"
								th:text="${#arrays.length(followers)}+'フォロワー'"></a>
						</div>
					</div>
				</div>
				<div class="mx-lg-2 my-3">
					<th:block th:text="${user.userDetail.userDescription}" />
				</div>
				<div class="profile button">
					<a th:href="@{/user/mypage/profileedit}"
						class="btn1 float-right mb-2">編集</a>
				</div>
			</div>
		</div>
	</div>


	<!--/* sidebar close引き継ぎ部分 */-->
	<div th:replace="layout/myPageLayout :: sidebar-close"></div>
	<!--/* sidebar close引き継ぎ部分 ここまで */-->

	<!--/* footer引き継ぎ部分 */-->
	<div th:replace="layout/baseLayout :: footer"></div>
	<!--/* footer引き継ぎ部分 ここまで */-->

	<!--/* menuscript引き継ぎ部分 */-->
	<div th:replace="layout/baseLayout :: menu-script"></div>
	<!--/* menuscript引き継ぎ部分 ここまで */-->
</body>
</html>