<!DOCTYPE html>
<html lang="ja" xmlns:th="http://wwwthymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/baseLayout :: base-head('パスワード変更完了', ~{::link}, ~{::script})">
</head>
<body>
	<div th:replace="layout/baseLayout :: navbar"></div>
	<div class="container">
		<div class="heading-icon">
			<h2 class="mt-4 mb-3">
				<img class="mb-2 mr-2" th:src="@{image/genjiko_icon/s_10_08.png}" />パスワード変更完了
			</h2>
		</div>
		<p>パスワードが正常に変更されました。</p>
		<a th:href="@{/login}">ログインはこちら</a>
	</div>

	<div th:replace="layout/baseLayout :: footer"></div>
	<div th:replace="layout/baseLayout :: menu-script"></div>

</body>
</html>