<!DOCTYPE html>
<html lang="ja" xmlns:th="http://wwwthymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/baseLayout :: base-head('新規パスワード入力', ~{::link}, ~{::script})">
</head>
<body>
	<div th:replace="layout/baseLayout :: navbar"></div>
	<div class="container" style="max-width: 760px;">
		<div class="heading-icon">
			<h2 class="mb-3 mt-4">
				<img class="mb-2 mr-2" th:src="@{image/genjiko_icon/s_10_07.png}" />新規パスワード再設定
			</h2>
		</div>
		<form class="form-signin" th:action="@{/mail_address_verified_check/change_password}" th:object="${lostPasswordForm}" method="post">
			<p>新しいパスワードと入力確認用パスワードを入力して、送信ボタンを押してください。</p>
			<input type="hidden" th:value="${uuid}" name="uuid" />
			<input type="hidden" value="email" name="mailAddress" />

			<input class="form-control mt-3" type="password" name="checkPassword" placeholder="パスワード" autofocus="autofocus" />
			<p th:errors="*{password}" class="error-message"></p>
			<input type="password" class="form-control mt-3" placeholder="パスワード（確認用）" name="password" />
			<p th:if="${error}">
				<em class="error-message">パスワードとパスワード確認用は同じ値を入力してください。</em>
			</p>

			<input type="submit" class="btn btn-lg btn-info btn-block mt-3 nav3" value="送  信" />
		</form>
	</div>

	<div th:replace="layout/baseLayout :: footer"></div>
	<div th:replace="layout/baseLayout :: menu-script"></div>
</body>
</html>